<div class="w-50 my-5 mx-auto">

  <form [formGroup]="shippingAddress" (ngSubmit)="handelForm(shippingAddress,cartID)">
  <label for="details" class="mt-2">Details: </label>
  <input type="text" id="details" class="form-control" formControlName="details">

  <label for="phone"  class="mt-2">Phone: </label>
  <input type="tel" id="phone" class="form-control" formControlName="phone">
  <label for="city"  class="mt-2">City: </label>
  <input type="text" id="city" class="form-control" formControlName="city">

  <button class="btn bg-main text-white my-3">Pay</button>

  </form>


  </div>

