<nav class="navbar navbar-expand-sm navbar-light bg-light ">
  <div class="container">
    <i class="fa-solid fa-store mx-1 text-main"></i>
    <a class="navbar-brand  cursur-pointer" routerLink="home">FreshCart</a>
    <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav me-auto mt-2 mt-lg-0">

            <li class="nav-item" *ngIf="isLogin">
                <a class="nav-link" routerLink="home">Home</a>
            </li>



            <li class="nav-item" *ngIf="isLogin">
                <a class="nav-link" routerLink="products">Products</a>
            </li>

            <li class="nav-item" *ngIf="isLogin">
                <a class="nav-link" routerLink="categories">Categories</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" *ngIf="isLogin" routerLink="brand">Brands</a>
            </li>

        </ul>
        <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
            <li class="nav-item d-flex align-items-center">
          <i class="fab fa-instagram mx-1"> </i>
          <i class="fab fa-facebook mx-1"> </i>
          <i class="fab fa-twitter mx-1"> </i>
          <i class="fab fa-tiktok mx-1"> </i>
          <i class="fab fa-linkedin mx-1"> </i>
          <i class="fab fa-youtube mx-1"> </i>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="login" *ngIf="!isLogin">Login</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" routerLink="register" *ngIf="!isLogin">Register</a>
            </li>
            <li class="nav-item" *ngIf="isLogin">
                <a class="nav-link position-relative" routerLink="cart" >

            <i class="fas fa-cart-shopping text-main fa-lg p-2"></i>
            <span class="badge ng-main text-white position-absolute top-0 end-0 bg-main">{{cartNumber}}</span>

                </a>
            </li>

            <li class="nav-item">
                <span (click)="logOut()" class="nav-link cursur-pointer"  *ngIf="isLogin">LogOut</span>
            </li>



        </ul>

    </div>
</div>
</nav>
