
<div class="py-4 my-4 bg-main-light shadow">
  <h2 class="text-main text-center fw-bolder">All Products</h2>
  <div class="py-3 p-3" *ngFor="let product  of  productsDetails">
          <a class="row align-items-center " [routerLink]="['/productdetails', product._id]">
              <div class="col-md-3">
                  <img  class="w-100" [src]="product.imageCover
                  " alt="">
              </div>
              <div class="col-md-8 ps-5 ">
                           <h5 class=" "> Title: {{product.title}}</h5>
                          <h5 class=" "> Name: {{product.brand.name}}</h5>
                          <h5 class=" "> Slug: {{product.slug}}</h5>
                          <h5 class=" "> Plug: {{product.price}}</h5>
                          <h5 class=" "> Quantity: {{product.quantity}}</h5>

                          <h5 class=" ">  <i class="fas fa-star rating-color mx-1"></i> : {{product.ratingsAverage}}</h5>


                          <p class="text-muted">Description: {{product.description}}</p>
                  </div>
          </a>




</div>

