
<div class="row mt-4">
    <div class="col-md-3"  >
        <img  *ngIf="item.poster_path" class="w-100" [src]="'https://image.tmdb.org/t/p/w500'+item.poster_path" alt="">
        <img class="w-100"  *ngIf="item.profile_path" [src]="'https://image.tmdb.org/t/p/w500'+item.profile_path" alt="">

    </div>
    <div class="col-md-9 d-flex align-items-center">
        <div>
            <h3 class=" mt-2 text-center">{{item.title}} {{item.name}}</h3>
            <p class="py-2 brdr_color">{{item.overview}}</p>
            <h6 *ngIf="item.vote_count">vote_count:  {{item.vote_count}}</h6>
            <h6 *ngIf="item.average">vote_average:  {{item.average}}</h6>
    
        </div>
     

    </div>
</div>

<div class="row py-4">
   
  <div class="col-md-2 mb-2" *ngFor="let item of similarMovies">
    <div class="item position-relative "(click)=" getSimilar(item.id,mediaType)"> 
        <img  *ngIf="item.poster_path" class="w-100" [src]="'https://image.tmdb.org/t/p/w500'+item.poster_path" alt="">
        <img class="w-100"  *ngIf="item.profile_path" [src]="'https://image.tmdb.org/t/p/w500'+item.profile_path" alt="">
        <h3 class="h6 mt-2 text-center">{{item.title}} {{item.name}}</h3>
        <div *ngIf="item.vote_average" class="vote end-0 top-0 text-white position-absolute p-1 " >{{item.vote_average.toFixed(1)}}</div>
    </div>

  </div>