@import url('https://fonts.googleapis.com/css2?family=Alegreya&family=Alegreya+Sans&family=Cairo:wght@200;300;400;500;600;700;800;900;1000&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100&family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
 --bg-main:#131722;
 --light-bg:#24baef;
 --main-font:'Montserrat Alternates', sans-serif;
 --text-color:#fff;
 --border-color:#a8a8a83d;

}

.bg-mine-light{
    background-color: var(--light-bg);
}

body{
    background-color: var(--bg-main);
    font-family: var(--main-font);
    color: var(--text-color);
}
a,a:hover{
    color: var(--text-color);
    text-decoration: none;
}

.input-mine{
    background-color: transparent;
    color: var(--text-color);
    border:solid 1px var(--border-color);
}
.brdr{
    height: 1px;
    background-color: var(--border-color);
}
 .brdr_color{
    color: var(--border-color);
 }
.vote{
    background-color: var(--light-bg);
}