<div class="p-4 ms-auto">

  <input type="text" class="form-control" [(ngModel)]="term" id="search" placeholder="search by name">
</div>

<div class="row ">


  <div class="col-md-4 d-flex align-items-center">
    <div>
      <div class="brdr w-25"></div>
      <h2 class="h5 py-3">Trending <br> movies <br> To Watch Right Now</h2>
      <p class="brdr_color ">must watched movies by days</p>
      <div class="brdr w-50"></div>
    </div>
  </div>
<div  *ngFor="let item of trendingMovie|searchbyname:term "  class="col-md-2 mb-2 " >
  <div class="item position-relative">
    <a [routerLink]="['/people',item.id,item.media_type]">
    <img *ngIf="item.poster_path" class="w-100" [src]="'https://image.tmdb.org/t/p/w500'+item.poster_path">
    <img class="w-100"  *ngIf="item.profile_path" [src]="'https://image.tmdb.org/t/p/w500'+item.profile_path" alt="">

    <h3 class="h6">{{item.title}} {{item.name}}</h3>
    <div class="position-absolute end-0 top-0 bg-info p-1">{{item.vote_average.toFixed(1)}}</div>
  </a>
  </div>

</div>
</div>


<div class="row py-2">
  <div class="col-md-4 d-flex align-items-center">
    <div>
      <div class="brdr w-25"></div>
      <h2 class="h5 py-3">Trending <br> TV <br> To Watch Right Now
      </h2>
      <p class="brdr_color py-2">must watched movies by days</p>
      <div class="brdr w-50"></div>
    </div>


  </div>

  <div *ngFor="let item of trendingTv " class="col-md-2">
<div  class="item position-relative">
  <a [routerLink]="['/people',item.id,item.media_type]">
<img class="w-100"  *ngIf="item.poster_path" [src]="'https://image.tmdb.org/t/p/w500'+item.poster_path">
<img class="w-100"  *ngIf="item.profile_path" [src]="'https://image.tmdb.org/t/p/w500'+item.profile_path" alt="">

<h3 class="h6">{{item.title}} {{item.name}}</h3>
<div *ngIf="item.vote_average" class="position-absolute end-0 top-0 bg-info p-1">{{item.vote_average.toFixed(1)}}</div>
</a>
</div>

</div>

</div>


<div class="row my-5">
  <div class="col-md-4 d-flex align-items-center">
    <div>
      <div class="brdr w-25"></div>
      <h2 class="h5 py-3">Trending <br> People<br> To Watch Right Now
      </h2>
      <p class="brdr_color py-2">must watched movies by days</p>
      <div class="brdr w-50"></div>
    </div>
  </div>

  <div *ngFor="let item of trendingPeople" class="col-md-2 ">
<div  class="item position-relative">
  <a  [routerLink]="['/people',item.id,item.media_type]">
    <img *ngIf="item.poster_path" class="w-100" [src]="'https://image.tmdb.org/t/p/w500'+item.poster_path">
    <img class="w-100"  *ngIf="item.profile_path" [src]="'https://image.tmdb.org/t/p/w500'+item.profile_path" alt="">

    <h3 class="h6">{{item.title}} {{item.name}}</h3>
    <div *ngIf="item.vote_average"  >{{item.vote_average}}</div>
  </a>



</div>
</div>

</div>
