
<div class="py-4 my-4 bg-main-light shadow">
  <h2 class="text-main text-center fw-bold">Brand Details</h2>
  <div class="row py-3 align-items-center p-3">

             <div class="col-md-5">
                  <img  class="w-100" [src]="   brandDetails.image" alt="">
              </div>
              <div class="col-md-7 ps-5">
                          <h3 class="fw-bold"> Name: {{   brandDetails.name}}</h3>
                          <h3 class="fw-bold"> Slug: {{   brandDetails.slug}}</h3>
                  </div>





</div>

